config ASV1_ENCODER
	int "ASV1_ENCODER"
	default "1"
config ASV2_ENCODER
	int "ASV2_ENCODER"
	default "1"
config BMP_ENCODER
	int "BMP_ENCODER"
	default "1"
config DNXHD_ENCODER
	int "DNXHD_ENCODER"
	default "0"
config DVVIDEO_ENCODER
	int "DVVIDEO_ENCODER"
	default "1"
config FFV1_ENCODER
	int "FFV1_ENCODER"
	default "1"
config FFVHUFF_ENCODER
	int "FFVHUFF_ENCODER"
	default "1"
config FLASHSV_ENCODER
	int "FLASHSV_ENCODER"
	default "1"
config FLV_ENCODER
	int "FLV_ENCODER"
	default "0"
config GIF_ENCODER
	int "GIF_ENCODER"
	default "1"
config H261_ENCODER
	int "H261_ENCODER"
	default "0"
config H263_ENCODER
	int "H263_ENCODER"
	default "0"
config H263P_ENCODER
	int "H263P_ENCODER"
	default "0"
config HUFFYUV_ENCODER
	int "HUFFYUV_ENCODER"
	default "1"
config JPEGLS_ENCODER
	int "JPEGLS_ENCODER"
	default "1"
config LJPEG_ENCODER
	int "LJPEG_ENCODER"
	default "0"
config MJPEG_ENCODER
	int "MJPEG_ENCODER"
	default "0"
config MPEG1VIDEO_ENCODER
	int "MPEG1VIDEO_ENCODER"
	default "0"
config MPEG2VIDEO_ENCODER
	int "MPEG2VIDEO_ENCODER"
	default "0"
config MPEG4_ENCODER
	int "MPEG4_ENCODER"
	default "0"
config MSMPEG4V1_ENCODER
	int "MSMPEG4V1_ENCODER"
	default "0"
config MSMPEG4V2_ENCODER
	int "MSMPEG4V2_ENCODER"
	default "0"
config MSMPEG4V3_ENCODER
	int "MSMPEG4V3_ENCODER"
	default "0"
config PAM_ENCODER
	int "PAM_ENCODER"
	default "1"
config PBM_ENCODER
	int "PBM_ENCODER"
	default "1"
config PCX_ENCODER
	int "PCX_ENCODER"
	default "1"
config PGM_ENCODER
	int "PGM_ENCODER"
	default "1"
config PGMYUV_ENCODER
	int "PGMYUV_ENCODER"
	default "1"
config PNG_ENCODER
	int "PNG_ENCODER"
	default "1"
config PPM_ENCODER
	int "PPM_ENCODER"
	default "1"
config QTRLE_ENCODER
	int "QTRLE_ENCODER"
	default "1"
config RAWVIDEO_ENCODER
	int "RAWVIDEO_ENCODER"
	default "1"
config ROQ_ENCODER
	int "ROQ_ENCODER"
	default "1"
config RV10_ENCODER
	int "RV10_ENCODER"
	default "1"
config RV20_ENCODER
	int "RV20_ENCODER"
	default "1"
config SGI_ENCODER
	int "SGI_ENCODER"
	default "1"
config SNOW_ENCODER
	int "SNOW_ENCODER"
	default "0"
config SVQ1_ENCODER
	int "SVQ1_ENCODER"
	default "0"
config TARGA_ENCODER
	int "TARGA_ENCODER"
	default "1"
config TIFF_ENCODER
	int "TIFF_ENCODER"
	default "1"
config V210_ENCODER
	int "V210_ENCODER"
	default "1"
config WMV1_ENCODER
	int "WMV1_ENCODER"
	default "0"
config WMV2_ENCODER
	int "WMV2_ENCODER"
	default "0"
config ZLIB_ENCODER
	int "ZLIB_ENCODER"
	default "1"
config ZMBV_ENCODER
	int "ZMBV_ENCODER"
	default "1"
config AC3_ENCODER
	int "AC3_ENCODER"
	default "1"
config ALAC_ENCODER
	int "ALAC_ENCODER"
	default "1"
config FLAC_ENCODER
	int "FLAC_ENCODER"
	default "1"
config MP2_ENCODER
	int "MP2_ENCODER"
	default "1"
config NELLYMOSER_ENCODER
	int "NELLYMOSER_ENCODER"
	default "1"
config SONIC_ENCODER
	int "SONIC_ENCODER"
	default "1"
config SONIC_LS_ENCODER
	int "SONIC_LS_ENCODER"
	default "1"
config VORBIS_ENCODER
	int "VORBIS_ENCODER"
	default "1"
config WMAV1_ENCODER
	int "WMAV1_ENCODER"
	default "1"
config WMAV2_ENCODER
	int "WMAV2_ENCODER"
	default "1"
config PCM_ALAW_ENCODER
	int "PCM_ALAW_ENCODER"
	default "1"
config PCM_F32BE_ENCODER
	int "PCM_F32BE_ENCODER"
	default "1"
config PCM_F32LE_ENCODER
	int "PCM_F32LE_ENCODER"
	default "1"
config PCM_F64BE_ENCODER
	int "PCM_F64BE_ENCODER"
	default "1"
config PCM_F64LE_ENCODER
	int "PCM_F64LE_ENCODER"
	default "1"
config PCM_MULAW_ENCODER
	int "PCM_MULAW_ENCODER"
	default "1"
config PCM_S8_ENCODER
	int "PCM_S8_ENCODER"
	default "1"
config PCM_S16BE_ENCODER
	int "PCM_S16BE_ENCODER"
	default "1"
config PCM_S16LE_ENCODER
	int "PCM_S16LE_ENCODER"
	default "1"
config PCM_S24BE_ENCODER
	int "PCM_S24BE_ENCODER"
	default "1"
config PCM_S24DAUD_ENCODER
	int "PCM_S24DAUD_ENCODER"
	default "1"
config PCM_S24LE_ENCODER
	int "PCM_S24LE_ENCODER"
	default "1"
config PCM_S32BE_ENCODER
	int "PCM_S32BE_ENCODER"
	default "1"
config PCM_S32LE_ENCODER
	int "PCM_S32LE_ENCODER"
	default "1"
config PCM_U8_ENCODER
	int "PCM_U8_ENCODER"
	default "1"
config PCM_U16BE_ENCODER
	int "PCM_U16BE_ENCODER"
	default "1"
config PCM_U16LE_ENCODER
	int "PCM_U16LE_ENCODER"
	default "1"
config PCM_U24BE_ENCODER
	int "PCM_U24BE_ENCODER"
	default "1"
config PCM_U24LE_ENCODER
	int "PCM_U24LE_ENCODER"
	default "1"
config PCM_U32BE_ENCODER
	int "PCM_U32BE_ENCODER"
	default "1"
config PCM_U32LE_ENCODER
	int "PCM_U32LE_ENCODER"
	default "1"
config PCM_ZORK_ENCODER
	int "PCM_ZORK_ENCODER"
	default "1"
config ROQ_DPCM_ENCODER
	int "ROQ_DPCM_ENCODER"
	default "1"
config ADPCM_ADX_ENCODER
	int "ADPCM_ADX_ENCODER"
	default "1"
config ADPCM_G726_ENCODER
	int "ADPCM_G726_ENCODER"
	default "1"
config ADPCM_IMA_QT_ENCODER
	int "ADPCM_IMA_QT_ENCODER"
	default "1"
config ADPCM_IMA_WAV_ENCODER
	int "ADPCM_IMA_WAV_ENCODER"
	default "1"
config ADPCM_MS_ENCODER
	int "ADPCM_MS_ENCODER"
	default "1"
config ADPCM_SWF_ENCODER
	int "ADPCM_SWF_ENCODER"
	default "1"
config ADPCM_YAMAHA_ENCODER
	int "ADPCM_YAMAHA_ENCODER"
	default "1"
config DVBSUB_ENCODER
	int "DVBSUB_ENCODER"
	default "1"
config DVDSUB_ENCODER
	int "DVDSUB_ENCODER"
	default "1"
config XSUB_ENCODER
	int "XSUB_ENCODER"
	default "1"
config LIBFAAC_ENCODER
	int "LIBFAAC_ENCODER"
	default "0"
config LIBXVID_ENCODER
	int "LIBXVID_ENCODER"
	default "0"
config LIBDIRAC_ENCODER
	int "LIBDIRAC_ENCODER"
	default "0"
config LIBSCHROEDINGER_ENCODER
	int "LIBSCHROEDINGER_ENCODER"
	default "0"
config LIBMP3LAME_ENCODER
	int "LIBMP3LAME_ENCODER"
	default "0"

config AAC_ENCODER
	int "AAC_ENCODER"
	default "0"
config LIBGSM_ENCODER
	int "LIBGSM_ENCODER"
	default "0"
config LIBGSM_MS_ENCODER
	int "LIBGSM_MS_ENCODER"
	default "0"
config LIBOPENCORE_AMRNB_ENCODER
	int "LIBOPENCORE_AMRNB_ENCODER"
	default "0"
config LIBTHEORA_ENCODER
	int "LIBTHEORA_ENCODER"
	default "0"
config LIBVORBIS_ENCODER
	int "LIBVORBIS_ENCODER"
	default "0"
config LIBX264_ENCODER
	int "LIBX264_ENCODER"
	default "0"
