config AAC_PARSER
	int "AAC_PARSER"
	default "1"
config AC3_PARSER
	int "AC3_PARSER"
	default "1"
config CAVSVIDEO_PARSER
	int "CAVSVIDEO_PARSER"
	default "1"
config DCA_PARSER
	int "DCA_PARSER"
	default "1"
config DIRAC_PARSER
	int "DIRAC_PARSER"
	default "1"
config DNXHD_PARSER
	int "DNXHD_PARSER"
	default "1"
config DVBSUB_PARSER
	int "DVBSUB_PARSER"
	default "1"
config DVDSUB_PARSER
	int "DVDSUB_PARSER"
	default "1"
config H261_PARSER
	int "H261_PARSER"
	default "0"
config H263_PARSER
	int "H263_PARSER"
	default "0"
config H264_PARSER
	int "H264_PARSER"
	default "0"
config MJPEG_PARSER
	int "MJPEG_PARSER"
	default "1"
config MLP_PARSER
	int "MLP_PARSER"
	default "1"
config MPEG4VIDEO_PARSER
	int "MPEG4VIDEO_PARSER"
	default "0"
config MPEGAUDIO_PARSER
	int "MPEGAUDIO_PARSER"
	default "0"
config MPEGVIDEO_PARSER
	int "MPEGVIDEO_PARSER"
	default "0"
config PNM_PARSER
	int "PNM_PARSER"
	default "1"
config VC1_PARSER
	int "VC1_PARSER"
	default "0"
config VP3_PARSER
	int "VP3_PARSER"
	default "1"
