config AC3_MUXER
	int "AC3_MUXER"
	default "1"
config ADTS_MUXER
	int "ADTS_MUXER"
	default "1"
config AIFF_MUXER
	int "AIFF_MUXER"
	default "1"
config AMR_MUXER
	int "AMR_MUXER"
	default "1"
config ASF_MUXER
	int "ASF_MUXER"
	default "1"
config ASS_MUXER
	int "ASS_MUXER"
	default "1"
config ASF_STREAM_MUXER
	int "ASF_STREAM_MUXER"
	default "1"
config AU_MUXER
	int "AU_MUXER"
	default "1"
config AVI_MUXER
	int "AVI_MUXER"
	default "1"
config AVM2_MUXER
	int "AVM2_MUXER"
	default "1"
config CRC_MUXER
	int "CRC_MUXER"
	default "1"
config DAUD_MUXER
	int "DAUD_MUXER"
	default "1"
config DIRAC_MUXER
	int "DIRAC_MUXER"
	default "1"
config DNXHD_MUXER
	int "DNXHD_MUXER"
	default "1"
config DTS_MUXER
	int "DTS_MUXER"
	default "1"
config DV_MUXER
	int "DV_MUXER"
	default "1"
config EAC3_MUXER
	int "EAC3_MUXER"
	default "1"
config FFM_MUXER
	int "FFM_MUXER"
	default "1"
config FLAC_MUXER
	int "FLAC_MUXER"
	default "1"
config FLV_MUXER
	int "FLV_MUXER"
	default "1"
config FRAMECRC_MUXER
	int "FRAMECRC_MUXER"
	default "1"
config GIF_MUXER
	int "GIF_MUXER"
	default "1"
config GXF_MUXER
	int "GXF_MUXER"
	default "1"
config H261_MUXER
	int "H261_MUXER"
	default "1"
config H263_MUXER
	int "H263_MUXER"
	default "1"
config H264_MUXER
	int "H264_MUXER"
	default "1"
config IMAGE2_MUXER
	int "IMAGE2_MUXER"
	default "1"
config IMAGE2PIPE_MUXER
	int "IMAGE2PIPE_MUXER"
	default "1"
config IPOD_MUXER
	int "IPOD_MUXER"
	default "1"
config M4V_MUXER
	int "M4V_MUXER"
	default "1"
config MATROSKA_MUXER
	int "MATROSKA_MUXER"
	default "1"
config MATROSKA_AUDIO_MUXER
	int "MATROSKA_AUDIO_MUXER"
	default "1"
config MJPEG_MUXER
	int "MJPEG_MUXER"
	default "1"
config MLP_MUXER
	int "MLP_MUXER"
	default "1"
config MMF_MUXER
	int "MMF_MUXER"
	default "1"
config MOV_MUXER
	int "MOV_MUXER"
	default "1"
config MP2_MUXER
	int "MP2_MUXER"
	default "1"
config MP3_MUXER
	int "MP3_MUXER"
	default "1"
config MP4_MUXER
	int "MP4_MUXER"
	default "1"
config MPEG1SYSTEM_MUXER
	int "MPEG1SYSTEM_MUXER"
	default "0"
config MPEG1VCD_MUXER
	int "MPEG1VCD_MUXER"
	default "0"
config MPEG1VIDEO_MUXER
	int "MPEG1VIDEO_MUXER"
	default "0"
config MPEG2DVD_MUXER
	int "MPEG2DVD_MUXER"
	default "0"
config MPEG2SVCD_MUXER
	int "MPEG2SVCD_MUXER"
	default "0"
config MPEG2VIDEO_MUXER
	int "MPEG2VIDEO_MUXER"
	default "0"
config MPEG2VOB_MUXER
	int "MPEG2VOB_MUXER"
	default "0"
config MPEGTS_MUXER
	int "MPEGTS_MUXER"
	default "0"
config MPJPEG_MUXER
	int "MPJPEG_MUXER"
	default "1"
config MXF_MUXER
	int "MXF_MUXER"
	default "1"
config MXF_D10_MUXER
	int "MXF_D10_MUXER"
	default "1"
config NULL_MUXER
	int "NULL_MUXER"
	default "1"
config NUT_MUXER
	int "NUT_MUXER"
	default "1"
config OGG_MUXER
	int "OGG_MUXER"
	default "1"
config PCM_ALAW_MUXER
	int "PCM_ALAW_MUXER"
	default "1"
config PCM_MULAW_MUXER
	int "PCM_MULAW_MUXER"
	default "1"
config PCM_F64BE_MUXER
	int "PCM_F64BE_MUXER"
	default "1"
config PCM_F64LE_MUXER
	int "PCM_F64LE_MUXER"
	default "1"
config PCM_F32BE_MUXER
	int "PCM_F32BE_MUXER"
	default "1"
config PCM_F32LE_MUXER
	int "PCM_F32LE_MUXER"
	default "1"
config PCM_S32BE_MUXER
	int "PCM_S32BE_MUXER"
	default "1"
config PCM_S32LE_MUXER
	int "PCM_S32LE_MUXER"
	default "1"
config PCM_S24BE_MUXER
	int "PCM_S24BE_MUXER"
	default "1"
config PCM_S24LE_MUXER
	int "PCM_S24LE_MUXER"
	default "1"
config PCM_S16BE_MUXER
	int "PCM_S16BE_MUXER"
	default "1"
config PCM_S16LE_MUXER
	int "PCM_S16LE_MUXER"
	default "1"
config PCM_S8_MUXER
	int "PCM_S8_MUXER"
	default "1"
config PCM_U32BE_MUXER
	int "PCM_U32BE_MUXER"
	default "1"
config PCM_U32LE_MUXER
	int "PCM_U32LE_MUXER"
	default "1"
config PCM_U24BE_MUXER
	int "PCM_U24BE_MUXER"
	default "1"
config PCM_U24LE_MUXER
	int "PCM_U24LE_MUXER"
	default "1"
config PCM_U16BE_MUXER
	int "PCM_U16BE_MUXER"
	default "1"
config PCM_U16LE_MUXER
	int "PCM_U16LE_MUXER"
	default "1"
config PCM_U8_MUXER
	int "PCM_U8_MUXER"
	default "1"
config PSP_MUXER
	int "PSP_MUXER"
	default "1"
config RAWVIDEO_MUXER
	int "RAWVIDEO_MUXER"
	default "1"
config RM_MUXER
	int "RM_MUXER"
	default "1"
config ROQ_MUXER
	int "ROQ_MUXER"
	default "1"
config SOX_MUXER
	int "SOX_MUXER"
	default "1"
config SPDIF_MUXER
	int "SPDIF_MUXER"
	default "1"
config SWF_MUXER
	int "SWF_MUXER"
	default "1"
config TG2_MUXER
	int "TG2_MUXER"
	default "1"
config TGP_MUXER
	int "TGP_MUXER"
	default "1"
config TRUEHD_MUXER
	int "TRUEHD_MUXER"
	default "1"
config VC1T_MUXER
	int "VC1T_MUXER"
	default "1"
config VOC_MUXER
	int "VOC_MUXER"
	default "1"
config WAV_MUXER
	int "WAV_MUXER"
	default "1"
config YUV4MPEGPIPE_MUXER
	int "YUV4MPEGPIPE_MUXER"
	default "0"

config RTP_MUXER
	int "RTP_MUXER"
	default "0"
config LIBNUT_MUXER
	int "LIBNUT_MUXER"
	default "0"
config FILMSTRIP_MUXER
	int "FILMSTRIP_MUXER"
	default "0"
