config AC3_MUXER
	bool "AC3_MUXER"
	default y
config ADTS_MUXER
	bool "ADTS_MUXER"
	default y
config AIFF_MUXER
	bool "AIFF_MUXER"
	default y
config AMR_MUXER
	bool "AMR_MUXER"
	default y
config ASF_MUXER
	bool "ASF_MUXER"
	default y
config ASS_MUXER
	bool "ASS_MUXER"
	default y
config ASF_STREAM_MUXER
	bool "ASF_STREAM_MUXER"
	default y
config AU_MUXER
	bool "AU_MUXER"
	default y
config AVI_MUXER
	bool "AVI_MUXER"
	default y
config AVM2_MUXER
	bool "AVM2_MUXER"
	default y
config CRC_MUXER
	bool "CRC_MUXER"
	default y
config DAUD_MUXER
	bool "DAUD_MUXER"
	default y
config DIRAC_MUXER
	bool "DIRAC_MUXER"
	default y
config DNXHD_MUXER
	bool "DNXHD_MUXER"
	default y
config DTS_MUXER
	bool "DTS_MUXER"
	default y
config DV_MUXER
	bool "DV_MUXER"
	default y
config EAC3_MUXER
	bool "EAC3_MUXER"
	default y
config FFM_MUXER
	bool "FFM_MUXER"
	default y
config FLAC_MUXER
	bool "FLAC_MUXER"
	default y
config FLV_MUXER
	bool "FLV_MUXER"
	default y
config FRAMECRC_MUXER
	bool "FRAMECRC_MUXER"
	default y
config GIF_MUXER
	bool "GIF_MUXER"
	default y
config GXF_MUXER
	bool "GXF_MUXER"
	default y
config H261_MUXER
	bool "H261_MUXER"
	default y
config H263_MUXER
	bool "H263_MUXER"
	default y
config H264_MUXER
	bool "H264_MUXER"
	default y
config IMAGE2_MUXER
	bool "IMAGE2_MUXER"
	default y
config IMAGE2PIPE_MUXER
	bool "IMAGE2PIPE_MUXER"
	default y
config IPOD_MUXER
	bool "IPOD_MUXER"
	default y
config M4V_MUXER
	bool "M4V_MUXER"
	default y
config MATROSKA_MUXER
	bool "MATROSKA_MUXER"
	default y
config MATROSKA_AUDIO_MUXER
	bool "MATROSKA_AUDIO_MUXER"
	default y
config MJPEG_MUXER
	bool "MJPEG_MUXER"
	default y
config MLP_MUXER
	bool "MLP_MUXER"
	default y
config MMF_MUXER
	bool "MMF_MUXER"
	default y
config MOV_MUXER
	bool "MOV_MUXER"
	default y
config MP2_MUXER
	bool "MP2_MUXER"
	default y
config MP3_MUXER
	bool "MP3_MUXER"
	default y
config MP4_MUXER
	bool "MP4_MUXER"
	default y
config MPEG1SYSTEM_MUXER
	bool "MPEG1SYSTEM_MUXER"
	default n
config MPEG1VCD_MUXER
	bool "MPEG1VCD_MUXER"
	default n
config MPEG1VIDEO_MUXER
	bool "MPEG1VIDEO_MUXER"
	default n
config MPEG2DVD_MUXER
	bool "MPEG2DVD_MUXER"
	default n
config MPEG2SVCD_MUXER
	bool "MPEG2SVCD_MUXER"
	default n
config MPEG2VIDEO_MUXER
	bool "MPEG2VIDEO_MUXER"
	default n
config MPEG2VOB_MUXER
	bool "MPEG2VOB_MUXER"
	default n
config MPEGTS_MUXER
	bool "MPEGTS_MUXER"
	default n
config MPJPEG_MUXER
	bool "MPJPEG_MUXER"
	default y
config MXF_MUXER
	bool "MXF_MUXER"
	default y
config MXF_D10_MUXER
	bool "MXF_D10_MUXER"
	default y
config NULL_MUXER
	bool "NULL_MUXER"
	default y
config NUT_MUXER
	bool "NUT_MUXER"
	default y
config OGG_MUXER
	bool "OGG_MUXER"
	default y
config PCM_ALAW_MUXER
	bool "PCM_ALAW_MUXER"
	default y
config PCM_MULAW_MUXER
	bool "PCM_MULAW_MUXER"
	default y
config PCM_F64BE_MUXER
	bool "PCM_F64BE_MUXER"
	default y
config PCM_F64LE_MUXER
	bool "PCM_F64LE_MUXER"
	default y
config PCM_F32BE_MUXER
	bool "PCM_F32BE_MUXER"
	default y
config PCM_F32LE_MUXER
	bool "PCM_F32LE_MUXER"
	default y
config PCM_S32BE_MUXER
	bool "PCM_S32BE_MUXER"
	default y
config PCM_S32LE_MUXER
	bool "PCM_S32LE_MUXER"
	default y
config PCM_S24BE_MUXER
	bool "PCM_S24BE_MUXER"
	default y
config PCM_S24LE_MUXER
	bool "PCM_S24LE_MUXER"
	default y
config PCM_S16BE_MUXER
	bool "PCM_S16BE_MUXER"
	default y
config PCM_S16LE_MUXER
	bool "PCM_S16LE_MUXER"
	default y
config PCM_S8_MUXER
	bool "PCM_S8_MUXER"
	default y
config PCM_U32BE_MUXER
	bool "PCM_U32BE_MUXER"
	default y
config PCM_U32LE_MUXER
	bool "PCM_U32LE_MUXER"
	default y
config PCM_U24BE_MUXER
	bool "PCM_U24BE_MUXER"
	default y
config PCM_U24LE_MUXER
	bool "PCM_U24LE_MUXER"
	default y
config PCM_U16BE_MUXER
	bool "PCM_U16BE_MUXER"
	default y
config PCM_U16LE_MUXER
	bool "PCM_U16LE_MUXER"
	default y
config PCM_U8_MUXER
	bool "PCM_U8_MUXER"
	default y
config PSP_MUXER
	bool "PSP_MUXER"
	default y
config RAWVIDEO_MUXER
	bool "RAWVIDEO_MUXER"
	default y
config RM_MUXER
	bool "RM_MUXER"
	default y
config ROQ_MUXER
	bool "ROQ_MUXER"
	default y
config SOX_MUXER
	bool "SOX_MUXER"
	default y
config SPDIF_MUXER
	bool "SPDIF_MUXER"
	default y
config SWF_MUXER
	bool "SWF_MUXER"
	default y
config TG2_MUXER
	bool "TG2_MUXER"
	default y
config TGP_MUXER
	bool "TGP_MUXER"
	default y
config TRUEHD_MUXER
	bool "TRUEHD_MUXER"
	default y
config VC1T_MUXER
	bool "VC1T_MUXER"
	default y
config VOC_MUXER
	bool "VOC_MUXER"
	default y
config WAV_MUXER
	bool "WAV_MUXER"
	default y
config YUV4MPEGPIPE_MUXER
	bool "YUV4MPEGPIPE_MUXER"
	default n

config RTP_MUXER
	bool "RTP_MUXER"
	default n
config LIBNUT_MUXER
	bool "LIBNUT_MUXER"
	default n
config FILMSTRIP_MUXER
	bool "FILMSTRIP_MUXER"
	default n
