config ASV1_ENCODER
	bool "ASV1_ENCODER"
	default y
config ASV2_ENCODER
	bool "ASV2_ENCODER"
	default y
config BMP_ENCODER
	bool "BMP_ENCODER"
	default y
config DNXHD_ENCODER
	bool "DNXHD_ENCODER"
	default n
config DVVIDEO_ENCODER
	bool "DVVIDEO_ENCODER"
	default y
config FFV1_ENCODER
	bool "FFV1_ENCODER"
	default y
config FFVHUFF_ENCODER
	bool "FFVHUFF_ENCODER"
	default y
config FLASHSV_ENCODER
	bool "FLASHSV_ENCODER"
	default y
config FLV_ENCODER
	bool "FLV_ENCODER"
	default n
config GIF_ENCODER
	bool "GIF_ENCODER"
	default y
config H261_ENCODER
	bool "H261_ENCODER"
	default n
config H263_ENCODER
	bool "H263_ENCODER"
	default n
config H263P_ENCODER
	bool "H263P_ENCODER"
	default n
config HUFFYUV_ENCODER
	bool "HUFFYUV_ENCODER"
	default y
config JPEGLS_ENCODER
	bool "JPEGLS_ENCODER"
	default y
config LJPEG_ENCODER
	bool "LJPEG_ENCODER"
	default n
config MJPEG_ENCODER
	bool "MJPEG_ENCODER"
	default n
config MPEG1VIDEO_ENCODER
	bool "MPEG1VIDEO_ENCODER"
	default n
config MPEG2VIDEO_ENCODER
	bool "MPEG2VIDEO_ENCODER"
	default n
config MPEG4_ENCODER
	bool "MPEG4_ENCODER"
	default n
config MSMPEG4V1_ENCODER
	bool "MSMPEG4V1_ENCODER"
	default n
config MSMPEG4V2_ENCODER
	bool "MSMPEG4V2_ENCODER"
	default n
config MSMPEG4V3_ENCODER
	bool "MSMPEG4V3_ENCODER"
	default n
config PAM_ENCODER
	bool "PAM_ENCODER"
	default y
config PBM_ENCODER
	bool "PBM_ENCODER"
	default y
config PCX_ENCODER
	bool "PCX_ENCODER"
	default y
config PGM_ENCODER
	bool "PGM_ENCODER"
	default y
config PGMYUV_ENCODER
	bool "PGMYUV_ENCODER"
	default y
config PNG_ENCODER
	bool "PNG_ENCODER"
	default y
config PPM_ENCODER
	bool "PPM_ENCODER"
	default y
config QTRLE_ENCODER
	bool "QTRLE_ENCODER"
	default y
config RAWVIDEO_ENCODER
	bool "RAWVIDEO_ENCODER"
	default y
config ROQ_ENCODER
	bool "ROQ_ENCODER"
	default y
config RV10_ENCODER
	bool "RV10_ENCODER"
	default y
config RV20_ENCODER
	bool "RV20_ENCODER"
	default y
config SGI_ENCODER
	bool "SGI_ENCODER"
	default y
config SNOW_ENCODER
	bool "SNOW_ENCODER"
	default n
config SVQ1_ENCODER
	bool "SVQ1_ENCODER"
	default n
config TARGA_ENCODER
	bool "TARGA_ENCODER"
	default y
config TIFF_ENCODER
	bool "TIFF_ENCODER"
	default y
config V210_ENCODER
	bool "V210_ENCODER"
	default y
config WMV1_ENCODER
	bool "WMV1_ENCODER"
	default n
config WMV2_ENCODER
	bool "WMV2_ENCODER"
	default n
config ZLIB_ENCODER
	bool "ZLIB_ENCODER"
	default y
config ZMBV_ENCODER
	bool "ZMBV_ENCODER"
	default y
config AC3_ENCODER
	bool "AC3_ENCODER"
	default y
config ALAC_ENCODER
	bool "ALAC_ENCODER"
	default y
config FLAC_ENCODER
	bool "FLAC_ENCODER"
	default y
config MP2_ENCODER
	bool "MP2_ENCODER"
	default y
config NELLYMOSER_ENCODER
	bool "NELLYMOSER_ENCODER"
	default y
config SONIC_ENCODER
	bool "SONIC_ENCODER"
	default y
config SONIC_LS_ENCODER
	bool "SONIC_LS_ENCODER"
	default y
config VORBIS_ENCODER
	bool "VORBIS_ENCODER"
	default y
config WMAV1_ENCODER
	bool "WMAV1_ENCODER"
	default y
config WMAV2_ENCODER
	bool "WMAV2_ENCODER"
	default y
config PCM_ALAW_ENCODER
	bool "PCM_ALAW_ENCODER"
	default y
config PCM_F32BE_ENCODER
	bool "PCM_F32BE_ENCODER"
	default y
config PCM_F32LE_ENCODER
	bool "PCM_F32LE_ENCODER"
	default y
config PCM_F64BE_ENCODER
	bool "PCM_F64BE_ENCODER"
	default y
config PCM_F64LE_ENCODER
	bool "PCM_F64LE_ENCODER"
	default y
config PCM_MULAW_ENCODER
	bool "PCM_MULAW_ENCODER"
	default y
config PCM_S8_ENCODER
	bool "PCM_S8_ENCODER"
	default y
config PCM_S16BE_ENCODER
	bool "PCM_S16BE_ENCODER"
	default y
config PCM_S16LE_ENCODER
	bool "PCM_S16LE_ENCODER"
	default y
config PCM_S24BE_ENCODER
	bool "PCM_S24BE_ENCODER"
	default y
config PCM_S24DAUD_ENCODER
	bool "PCM_S24DAUD_ENCODER"
	default y
config PCM_S24LE_ENCODER
	bool "PCM_S24LE_ENCODER"
	default y
config PCM_S32BE_ENCODER
	bool "PCM_S32BE_ENCODER"
	default y
config PCM_S32LE_ENCODER
	bool "PCM_S32LE_ENCODER"
	default y
config PCM_U8_ENCODER
	bool "PCM_U8_ENCODER"
	default y
config PCM_U16BE_ENCODER
	bool "PCM_U16BE_ENCODER"
	default y
config PCM_U16LE_ENCODER
	bool "PCM_U16LE_ENCODER"
	default y
config PCM_U24BE_ENCODER
	bool "PCM_U24BE_ENCODER"
	default y
config PCM_U24LE_ENCODER
	bool "PCM_U24LE_ENCODER"
	default y
config PCM_U32BE_ENCODER
	bool "PCM_U32BE_ENCODER"
	default y
config PCM_U32LE_ENCODER
	bool "PCM_U32LE_ENCODER"
	default y
config PCM_ZORK_ENCODER
	bool "PCM_ZORK_ENCODER"
	default y
config ROQ_DPCM_ENCODER
	bool "ROQ_DPCM_ENCODER"
	default y
config ADPCM_ADX_ENCODER
	bool "ADPCM_ADX_ENCODER"
	default y
config ADPCM_G726_ENCODER
	bool "ADPCM_G726_ENCODER"
	default y
config ADPCM_IMA_QT_ENCODER
	bool "ADPCM_IMA_QT_ENCODER"
	default y
config ADPCM_IMA_WAV_ENCODER
	bool "ADPCM_IMA_WAV_ENCODER"
	default y
config ADPCM_MS_ENCODER
	bool "ADPCM_MS_ENCODER"
	default y
config ADPCM_SWF_ENCODER
	bool "ADPCM_SWF_ENCODER"
	default y
config ADPCM_YAMAHA_ENCODER
	bool "ADPCM_YAMAHA_ENCODER"
	default y
config DVBSUB_ENCODER
	bool "DVBSUB_ENCODER"
	default y
config DVDSUB_ENCODER
	bool "DVDSUB_ENCODER"
	default y
config XSUB_ENCODER
	bool "XSUB_ENCODER"
	default y
config LIBFAAC_ENCODER
	bool "LIBFAAC_ENCODER"
	default n
config LIBXVID_ENCODER
	bool "LIBXVID_ENCODER"
	default n
config LIBDIRAC_ENCODER
	bool "LIBDIRAC_ENCODER"
	default n
config LIBSCHROEDINGER_ENCODER
	bool "LIBSCHROEDINGER_ENCODER"
	default n
config LIBMP3LAME_ENCODER
	bool "LIBMP3LAME_ENCODER"
	default n

config AAC_ENCODER
	bool "AAC_ENCODER"
	default n
config LIBGSM_ENCODER
	bool "LIBGSM_ENCODER"
	default n
config LIBGSM_MS_ENCODER
	bool "LIBGSM_MS_ENCODER"
	default n
config LIBOPENCORE_AMRNB_ENCODER
	bool "LIBOPENCORE_AMRNB_ENCODER"
	default n
config LIBTHEORA_ENCODER
	bool "LIBTHEORA_ENCODER"
	default n
config LIBVORBIS_ENCODER
	bool "LIBVORBIS_ENCODER"
	default n
config LIBX264_ENCODER
	bool "LIBX264_ENCODER"
	default n
